/* base */
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
/* navbar */
.mynav{
    background-color: transparent;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    width: 100%;
}
@media (max-width: 768px){
    .mynav {
        background-color: #f8f9fa;
    }
}
.mynav_nav {
    margin-left: 50px;
}
.mynav_item {
    margin: 0 15px;
    font-weight: bold;
}
@media (max-width: 420px) {
    .mynav_item {
        margin: 0;    
    }  
}
/* banner */
.mybanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mybanner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mybanner_paragraph {
    font-size: 2.7rem;
    margin: 0;
    text-align: center;
}
.mybanner_img {
    height: 100vh;
    width: 100%;
    max-width: 100%;
}
.mybanner_name {
    color: #ffa500;
    font-weight: bold;
}
.mybanner_btn {
    width: 200px;
    background-color: transparent;
    font-size: 1.3rem;
    border-radius: 0px;
    border: 2px solid;
}
/* About */
.row-margin> div {
    margin: 60px 0 60px 0;

}
.row-margin h4 {
    margin-bottom: 30px;
}
.about .progress-bar {
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 20px;
}
.skills>div {
    margin-bottom: 20px;
}

/* Services */
.services>div {
    margin-bottom: 60px;
}

/* portfolio */
.portfolio img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    vertical-align: middle;
}
.img-port {
    padding: 0;
}
.portfolio-box-caption {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    text-align: center;
}
.portfolio-box-caption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
}
.portfolio-box-caption:hover h3, .portfolio-box-caption:hover p {
    color: #fff; 
}

/* contact */
.contact {
    margin-top: 30px;
}
.contact .container {
    width: 40%;
}
input.error {
    border-color: red;
}
textarea.error {
    border-color: red;
}
span.error {
    color:red;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* footer */
.footer{
    z-index: -99;
    margin-top: 50px;
}
.fa-github {
    color: #f8f9fa;
    font-size: 40px;
}
.fa-linkedin {
    color: #f8f9fa;
    font-size: 40px;
}