/* header */
.navbar-primary .navbar-collapse{
    justify-content: flex-end;
}

/* banner */
.carousel-banner img {
    height: 80vh;
    object-fit: cover;
}
.carousel-banner {
    margin-top: 66px;
}

/* About */
.row-margin> div {
    margin: 60px 0 60px 0;

}
.row-margin h4 {
    margin-bottom: 30px;
}
.about .progress-bar {
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 20px;
}
.skills>div {
    margin-bottom: 20px;
}

/* Services */
.services h2 {
    margin-bottom: 30px;
}
